// assets/css/_variables.scss

$white:          #ffffff;
$gray-light:     #dddddd;
$gray:           #aaaaaa;
$gray-night:     #353a40;
$black:          #141d26;

$panda-indigo:   #4d469f;
$panda-yellow:   #f0c11c;

$coca-red:       #fe001a;
$coca-red-light: #ff99a3;