// assets/css/app.scss

@import "_variables.scss";
@import "~bootstrap/scss/bootstrap";

.botchat-header {
    span {
        cursor: pointer;
    }
}

.botchat-panda-light {
    .botchat-header {
        color:      $panda-yellow;
        background: $panda-indigo;
    }

    #botchat-settings {
        background: $panda-yellow;
    }

    #botchat-content {
        .botchat-message {
            &.botchat-message-bot {
                span {
                    color:      $white;
                    background: $panda-indigo;
                }
            }

            &.botchat-message-info {
                span {
                    color: $gray;
                }

                text-align: center;
            }

            &.botchat-message-user {
                span {
                    background: $panda-yellow;
                    float:      right;
                }
            }

            span {
                display:       inline-block;
                max-width:     60%;
                padding:       0.5rem;
                border-radius: 0.5rem;
            }

            display: inline-block;
        }

        overflow-x: hidden;
        overflow-y: auto;
    }

    #botchat-choices {
        #botchat-back {
            cursor:     pointer;
            background: $panda-yellow;
            border:     0.1rem solid $panda-indigo;
            color:      $panda-indigo;
        }

        #botchat-end {
            cursor:     pointer;
            background: $panda-indigo;
            color:      $panda-yellow;
        }

        button {
            border: 0.1rem solid $panda-indigo;
        }

        background: $gray-light;
    }

    background: $white;
    color:      $black;
    border:     0.1rem solid $panda-indigo;
}

.botchat-panda-night {
    .botchat-header {
        color:      $panda-indigo;
        background: $black;
    }

    #botchat-settings {
        background: $panda-indigo;
    }

    #botchat-content {
        .botchat-message {
            &.botchat-message-bot {
                span {
                    color:  $white;
                    border: 0.1rem solid $panda-indigo;
                }
            }

            &.botchat-message-info {
                span {
                    color: $gray-light;
                }

                text-align: center;
            }

            &.botchat-message-user {
                span {
                    color:  $white;
                    border: 0.1rem solid $panda-yellow;
                    float:  right;
                }
            }

            span {
                display:       inline-block;
                max-width:     60%;
                padding:       0.5rem;
                border-radius: 0.5rem;
            }

            display: inline-block;
        }

        overflow-x: hidden;
        overflow-y: auto;
    }

    #botchat-choices {
        #botchat-back {
            cursor:     pointer;
            background: $panda-yellow;
            border:     0.1rem solid $panda-indigo;
            color:      $panda-indigo;
        }

        #botchat-end {
            cursor:     pointer;
            background: $panda-indigo;
            color:      $panda-yellow;
        }

        button {
            border: 0.1rem solid $panda-yellow;
            color: $white;
        }

        background: $gray-night;
    }

    background: $black;
    color:      $white;
    border:     0.1rem solid $panda-indigo;
}

.botchat-coca-cola {
    .botchat-header {
        color:      $white;
        background: $coca-red;
    }

    #botchat-settings {
        background: $coca-red-light;
    }

    #botchat-content {
        .botchat-message {
            &.botchat-message-bot {
                span {
                    color:      $coca-red;
                    background: $white;
                    border:     0.1rem solid $coca-red;
                }
            }

            &.botchat-message-info {
                span {
                    color: $gray-night;
                }

                text-align: center;
            }

            &.botchat-message-user {
                span {
                    color:      $white;
                    background: $coca-red;
                    float:      right;
                }
            }

            span {
                display:       inline-block;
                max-width:     60%;
                padding:       0.5rem;
                border-radius: 0.5rem;
            }

            display: inline-block;
        }

        overflow-x: hidden;
        overflow-y: auto;
    }

    #botchat-choices {
        #botchat-back {
            cursor:     pointer;
            background: $coca-red;
            color:      $white;
        }

        #botchat-end {
            cursor:     pointer;
            background: $coca-red-light;
            border:     0.1rem solid $coca-red;
            color:      $black;
        }

        button {
            color:  $black;
            border: 0.1rem solid $coca-red;
        }

        background: $gray-light;
    }

    background: $white;
    color:      $black;
    border:     0.1rem solid $coca-red;
}