{# templates/base.html.twig #}
<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body class="d-flex flex-column h-100">
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags( 'app' ) }}
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags( 'app' ) }}
        {% endblock %}

    </body>
</html>
