{# templates/botchat/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}PandaBotChat{% endblock %}

{% block body %}
    <div id="botchat" class="container d-flex flex-column h-100 botchat-panda-light">
        <div class="row botchat-header">
            <h1 class="col-12 col-sm text-center text-sm-left">
                PandaBotChat
            </h1>
            <span id="botchat-settings-button"
                  class="col-12 col-sm align-self-center text-center text-sm-right mb-2"></span>
        </div>
        <div id="botchat-settings" class="row p-2">
            <div class="col-12 col-sm mb-2 mb-sm-0">
                <select id="botchat-theme" class="form-control">
                    <option value="botchat-panda-light" selected>panda-light</option>
                    <option value="botchat-panda-night">panda-night</option>
                    <option value="botchat-coca-cola">coca-cola</option>
                </select>
            </div>
            <div class="col-12 col-sm">
                <select id="botchat-locale" class="form-control">
                    <option value="en">English</option>
                    <option value="fr" selected>Français</option>
                </select>
            </div>
        </div>
        <div id="botchat-content" class="row h-100 d-block flex-grow"></div>
        <div id="botchat-choices" class="row p-2"></div>
    </div>

{% endblock %}
